# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# env/config
.env
.env.*

# coverage / build artifacts
coverage/
dist/
build/

# editor
.vscode/
.idea/

# misc
*.local


